/* disable the SPI */
&qupv3_se5_spi {
	status = "disabled";
};

&qupv3_se2_spi {
	status = "disabled";
};

&qupv3_se2_i2c {
	status = "disabled";
};

/* audio and power monitor(ina230) I2C, /dev/i2c-0 */
&qupv3_se10_i2c {
  status = "ok";
  qcom,clk-freq-out = <100000>;

  ti_ina321@40 {
    compatible = "ti,ina231";
    reg = <0x40>;
    /* value is 30mOhm, measured in uohms */
    shunt-resistor = <30000>;
  };

  max98089@10 {
    compatible = "maxim,max98089";
    reg = <0x10>;  /* slave address 0x20 for write, 0x21 for read */
    status = "okay";
  };
};

/* light(RPR-0521RS) and touch panel I2C, /dev/i2c-2 */
&qupv3_se5_i2c {
  status = "ok";
  qcom,clk-freq-out = <100000>;

  rpr0521@38 {
    compatible = "rpr0521";
    reg = <0x38>;
  };
};

/* second home of the sensors besides SSC, BLSP4 on tici */
&qupv3_se4_i2c {
  status = "ok";
  qcom,clk-freq-out = <100000>;
};

/* panda SPI */
&qupv3_se0_spi {
	status = "ok";
};

/* GPS UART */
&qupv3_se6_4uart {
	status = "disabled";
};

/* IMUs are on SSC i2c, have to interact with that firmware */

